<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
	<h1>hello,{{user}}</h1>
	<a href="/logout/">logout</a>
</div>
<div>
    <form method='get' action='/search_name/'>
        <input type="text" name="name">
        <button type="submit">search</button>
    </form>
    <table>
    <tbody>
	{%for guest in guest_list%}
	 <tr>
	   <td>{{guest.id}}</td>
	   <td>{{guest.realname}}</td>
	   <td>{{guest.phone}}</td>
	   <td>{{guest.email}}</td>
	   <td>{{guest.event}}</td>
	 </tr>
	{%endfor%}
	</tbody>
	</table>
</div>
</body>
</html>